.movieTitle {
  margin: 0 auto;
  font-size: larger;
  text-align: center;
  color: #0f0f0f;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  &:hover {
    color: #e5e7eb;
  }
}
.reviews {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolt;
  margin-top: 20px;
  text-align: center;
  font-size: larger;
  margin-bottom: 20px;
  color: #0f0f0f;
  transition: color 0.3s ease;
  &:hover {
    color: #e5e7eb;
  }
}
.card_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
  width: 350px;

  align-items: center;
  border: 2px solid #aeabab;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: border 0.3s ease;
  background-color: #aeabab;
  margin: 0 auto;
  &:hover {
    border: 2px solid #5e5e5e;
    transform: scale(1.02);
  }
}
.image {
  width: 340px;
  height: auto;
  object-fit: fill;
  border-radius: 5px;
  transition: transform 0.3s ease;

  margin-bottom: 10px;
}
.card_text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
