.reviews {
  font-family: inherit;
  font-size: large;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  color: #161515;
  margin: 0 auto;
}
.reviews_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  max-width: 1470px;
  margin: 0 auto;
}
.reviews_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  max-height: 400px;
  margin: 0;
  width: 100%;
}
.author {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: #444;
  font-size: var(--font-medium);
  transition: color 0.3s ease;
  &:hover {
    color: #888;
  }
}
.content {
  font-size: var(--font-small);
  margin-bottom: 10px;
  line-height: 1.5;

  transition: color 0.3s ease;
  &:hover {
    color: #888;
  }
  text-align: left;
}
.avalible_reviews {
  font-size: var(--font-small);
  margin-bottom: 10px;
  transition: color 0.3s ease;
  color: brown;
  text-align: right;
}
.goBack {
  font-size: large;
  text-decoration: underline;
  color: #333;
  transition: color 0.3s ease;
  &:hover {
    color: #7f7ad7;
  }
}
