.reviews {
  font-family: inherit;
  font-size: large;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  color: #161515;
  margin: 0 auto;
}
.reviews_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  max-width: 1470px;
  margin: 0 auto;
}
.reviews_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  max-height: 400px;
  margin: 0;
  max-width: 1470px;
}
.author {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: #444;
  font-size: var(--font-medium);
  transition: color 0.3s ease;
  &:hover {
    color: #888;
  }
}
.content {
  font-size: var(--font-small);
  margin-bottom: 10px;
  line-height: 1.5;

  transition: color 0.3s ease;
  &:hover {
    color: #888;
  }
  text-align: left;
}
.avalible_reviews {
  font-size: var(--font-medium);
  display: block;
  transition: color 0.3s ease;
  color: brown;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  cursor: pointer;
  padding: 0;

  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #ddd;
  }
  &:focus {
    outline: none;
    background-color: #ddd;
  }
  &:hover {
    color: #6b95e8;
  }
}
