.nav_wrapp {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  &.hover {
    transform: scale(1.05);
    color: #007bff;
    transition: color 0.3s ease;
  }
}

.Navigation_list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-width: 100%;
  list-style-type: none;
  justify-content: left;
  align-items: center;
  align-self: center;
  & {
    background-image: url("../../images/40-min.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  padding: 10px;
  border-radius: 5px;
  margin: 15px 10px 10px 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.NavLink {
  color: #fdfdff;
  font-size: var(--font-medium);
  text-transform: uppercase;

  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  &:hover {
    color: #007bff;
  }
  &.active {
    color: #007bff;
    font-weight: 500;
  }
}
.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0069d9;
  }
}
