.MoviePage {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: #e79494;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.SearchForm_mesage {
  font-size: 22px;
  padding: 0;
  color: #d51212;
  margin: 0 auto;
  margin-left: 10px;
  position: absolute;

  top: 50%;
  right: 45%;
  transition: background-color 0.3s ease;
}
.movies_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 20px;
  list-style-type: none;
  background-color: inherit;
  color: #333;
  transition: background-color 0.3s ease;
  width: 100%;
}
.movies_list_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
  width: 450px;
  padding: 2px;
  font-size: small;
  font-weight: bold;

  color: #0c0c0c;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
  }
}
.MoviesPage_w {
  margin: 0 auto;
}
.create_line {
  padding-left: 5px;
  /* необходим для формирования позиций линии */
  position: relative;
  /* весь блок будет занимать ширину по размеру контента в нём */
  display: inline-block;
}

.create_line:before {
  content: " ";
  background: #33ccff;
  width: 445px;
  height: 2px;
  top: 25px;
  position: absolute;
}
