.MoviePage {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: #e79494;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
