.MoviePage {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: #e79494;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.SearchForm_mesage {
  margin: 0 auto;
  font-size: 22px;
  padding: 0;
  color: #d51212;
}
.movies_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 20px;
  list-style-type: none;
  background-color: inherit;
  color: #333;
  transition: background-color 0.3s ease;
  width: 100%;
}
.movies_list_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  padding: 2px;
  font-size: small;

  color: #d3caca;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
  }
}
.MoviesPage_w {
  margin: 0 auto;
}
