.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #807b7b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #94b9f5;
  }
}
.searchBar_input {
  width: 300px;
  padding: 10px;

  border-radius: 10px;
  border: 1 rgb(15, 16, 16) solid;

  outline: none;
  font-size: 16px;
  &:hover {
    background-color: #dde5f2;
    color: #272525;
    cursor: pointer;
  }
}
.searchBar_submit {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #3b485e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #566787;
  }
}
.searchBar_icon {
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s ease;
  &:hover {
    color: #888;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    transition: color 0.3s ease;

    fill: #fff;
  }
}
.error {
  color: red;
  font-size: 16px;
}
