.MovieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  padding: 0;
  margin: 0 auto;
  background-color: #afa9a9;
  box-shadow: 0 10 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #94b9f5;
  }
  border-radius: 5px;
  &.loading {
    opacity: 0.5;
  }
  &.error {
    background-color: #f9d7d7;
  }
  &.empty {
    background-color: #f2f2f2;
    border: none;
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
    transition: background-color 0.3s ease;
  }
  &.active {
    background-color: #94b9f5;
  }
}
.list_title {
  font-size: var(--font-large);
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  color: #181616;
  transition: color 0.3s ease;
  &:hover {
    color: #007bff;
  }
  &.active {
    color: #007bff;
  }
  &.loading {
    opacity: 0.5;
  }
  text-align: center;
}
.movietitle {
  font-size: var(--font-medium);
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  color: #181616;
  transition: color 0.3s ease;
  &:hover {
    color: #007bff;
  }
  &.active {
    color: #007bff;
  }
  &.loading {
    opacity: 0.5;
  }
  text-align: center;
}
.movieimage {
  width: 220px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  &.loading {
    opacity: 0.5;
  }
}
